<div class="form_wrap">

  <!-- logo -->
  <div class="logo_blk">
    <img [src]="logo" alt="logo" />
  </div>
  <!-- logo close -->

  <div class="mat-h2 page-title">First Let’s find your account</div>
  <div class="mat-h3">Please enter your registered Email ID.</div>

   <!-- form -->
  <form [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid&&validateEmail()">
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" (keydown.space)="$event.preventDefault()">
      <mat-error>{{forgotForm.controls['email'].errors | controlError:'Email' }}</mat-error>
    </mat-form-field>

    <div class="btn_groups text-center m-t-15">
      <button type="button" mat-button class="forgor_password" [routerLink]="'LOGIN'|absolutePath"> Cancel
      </button>
      <button mat-raised-button type="submit" color="primary" class="primary-btn">Find Account</button>
    </div>
  </form>
 <!-- form close -->
</div>
