<div class="row">
  <div class="col-sm-6">
    <mat-form-field class="example-full-width custom-date-wrap">
      <mat-label class="label-bg">Start Date</mat-label>
      <input id="picker"  matInput [formControl]="dateObject.startDate" (dateChange)="dateChange($event)"
        [max]="maxStartDate" (click)="picker.open()" [matDatepicker]="picker" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker" class="full-icon"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="col-sm-6">
    <mat-form-field class="example-full-width custom-date-wrap">
      <mat-label class="label-bg">End Date</mat-label>
      <input id="picker1"  matInput [formControl]="dateObject.endDate" [matDatepicker]="picker1"
        (dateChange)="setToDate()" (click)="picker1.open()" [min]="minDate" [max]="maxEndDate" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker1" class="full-icon"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>
