
 <!-- logo -->
 <div class="logo_blk">
  <img [src]="logo" alt="logo" />
</div>
<!-- logo close -->

<div class="form_wrap">
  <div class="mat-h2 page-title">Reset Password</div>

  <div class="mat-h3">Enter your new password to change.</div>

  <!-- form -->
  <form [formGroup]="resetForm" (ngSubmit)="resetForm?.valid && resetPassword()">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput required [type]="passwordHide ? 'password'  :  'text'" formControlName="password" [maxlength]="maxLength">
      <mat-icon matSuffix (click)="passwordHide= !passwordHide">
        {{passwordHide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error>{{resetForm.controls['password'].errors | controlError:'Password' }}</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput required [type]="confirmPasswordHide ? 'password' :'text'" formControlName="confirmPassword" [maxlength]="maxLength">
      <mat-icon matSuffix (click)="confirmPasswordHide= !confirmPasswordHide">
        {{confirmPasswordHide ?'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error>{{resetForm.controls['confirmPassword'].errors | controlError:'Confirm Password' }}</mat-error>
    </mat-form-field>

    <div class="btn_groups text-center m-t-15">
      <button mat-button type="button" class="forgor_password" [routerLink]="'LOGIN'|absolutePath">Back to login</button>
      <button mat-raised-button type="submit" color="primary" class="primary-btn">Reset</button>
    </div>
  </form>
  <!-- form close-->

</div>