
.edit{
    color: #5c51d6;
    font-size: 18px;
    margin-left: 10px;
}


.ct-btn{
    display: flex;
    align-items: center;
}


.resend{
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}