<!-- ************* Admin Notification ****************** -->

<div class="mat-card page-heading">
    <h1 class="mat-title cursor">Admin Notification</h1>
  </div>
  
  <div class="mat-card">
    <div class="notification_wrapper">
      <div class="notifications">
        <div class="notification-list">
          <ul>
            <!-- repeat -->
            <li class="notification-bell">
              <p>@michael and 3 others have reported this post.</p>
              <span class="time">3 Minutes Ago</span>
              <ul class="tools">
                <li>
                  <button mat-button matTooltip="Mark as unread"><i class="material-icons">markunread</i></button>
                </li>
  
                <!-- use conditionally Mark as read-->
                <!-- <li> 
                    <button mat-button matTooltip="Mark as read"><i class="material-icons">drafts</i></button>
                  </li> -->
                <!-- use conditionally Mark as read-->
  
                <li>
                  <button mat-button matTooltip="Snooze"><i class="material-icons">watch_later</i></button>
                </li>
                <li>
                  <button mat-button matTooltip="Delete"><i class="material-icons delete">delete</i></button>
                </li>
              </ul>
            </li>
            <!-- repeat close -->
  
            <!-- repeat -->
            <li class="notification-bell">
              <p class="txt-unread">@johnson has emergency reported this post.</p>
              <span class="time">13 Minutes Ago</span>
              <ul class="tools">
                <li>
                  <button mat-button matTooltip="Mark as read"><i class="material-icons">drafts</i></button>
                </li>
                <li>
                  <button mat-button matTooltip="Snooze"><i class="material-icons">watch_later</i></button>
                </li>
  
                <li>
                  <button mat-button matTooltip="Delete"><i class="material-icons delete">delete</i></button>
                </li>
              </ul>
            </li>
            <!-- repeat close-->
  
            <!-- repeat -->
            <li class="notification-bell">
              <p>@michael and 3 others have reported this post.</p>
              <span class="time">3 Minutes Ago</span>
              <ul class="tools">
                <li>
                  <button mat-button matTooltip="Mark as unread"><i class="material-icons">markunread</i></button>
                </li>
                <li>
                  <button mat-button matTooltip="Snooze"><i class="material-icons">watch_later</i></button>
                </li>
                <li>
                  <button mat-button matTooltip="Delete"><i class="material-icons delete">delete</i></button>
                </li>
              </ul>
            </li>
            <!-- repeat close -->
  
            <!-- repeat -->
            <li class="notification-bell">
              <p>@johnson has emergency reported this post.</p>
              <span class="time">13 Minutes Ago</span>
              <ul class="tools">
                <li>
                  <button mat-button matTooltip="Mark as unread"><i class="material-icons">markunread</i></button>
                </li>
                <li>
                  <button mat-button matTooltip="Snooze"><i class="material-icons">watch_later</i></button>
                </li>
                <li>
                  <button mat-button matTooltip="Delete"><i class="material-icons delete">delete</i></button>
                </li>
              </ul>
            </li>
            <!-- repeat close -->
  
          </ul>
  
        </div>
      </div>
    </div>
  </div>
  
  <!-- ************* Admin Notification close ****************** -->