<div class="mat-card page-heading">
  <h1 class="mat-title cursor" (click)="resetFilter()">Users</h1>
</div>

<div class="mat-card">
  <div class="search-header-box">

    <!-- Search filter -->
    <app-search-filter [placeholder]="'Search by username and name'" (setSearch)="setSearch($event)">
    </app-search-filter>

    <!-- Filter button -->
    <div class="filter-icons">
      <button mat-fab color="primary" matTooltip="Filter" (click)="isFilterOpen = !isFilterOpen">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>

  <!-- Filter -->
  <mat-expansion-panel [expanded]="isFilterOpen">

    <div [formGroup]="filterForm" class="filter">
      <div class="row">
        <!-- <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Reported</mat-label>
            <mat-select formControlName="reported">
              <mat-option *ngFor="let stat of  reportedFilter" [value]="stat.value">{{stat.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div> -->

        <!-- Status -->
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let stat of filterObject?.statusFilter" [value]="stat.value">{{stat.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Gender -->
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let stat of  filterObject?.genderFilter" [value]="stat.value">{{stat.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Date -->
        <div class="col-sm-6">
          <app-date-filter [dateObject]="listingDate"></app-date-filter>
        </div>

        <!-- Sorting -->
        <div class="col-sm-3">
          <mat-form-field appearance="outline">
            <mat-label>Sort by</mat-label>
            <mat-select formControlName="sorting">
              <mat-option *ngFor="let stat of  filterObject?.sortFilter" [value]="stat.value">{{stat.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Apply Reset Button -->
        <div class="col-sm-12">
          <div class="filtr-btn">
            <button mat-stroked-button class="primary-btn outline-btn" type="reset"
              (click)="resetFilter()">Reset</button>
            <button mat-raised-button color="primary" class="primary-btn" type="button"
              (click)="applyFilter()">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- Filter close -->

  <div class="m-b-10">
    <strong>Total Users: </strong>{{total}}
  </div>

  <!-- Table -->
  <div class="table-wrapper">
    <table mat-table [dataSource]="userList">

      <!-- S.No -->
      <ng-container matColumnDef="s.no">
        <th mat-header-cell *matHeaderCellDef> Sr. No </th>
        <td mat-cell *matCellDef="let user;let i = index;"> {{getSerialNumber(i+1)}}</td>
      </ng-container>

      <!-- Profile Image -->
      <ng-container matColumnDef="profilePicture">
        <th mat-header-cell *matHeaderCellDef>Profile Picture</th>
        <td mat-cell *matCellDef="let user;">
          <figure [routerLink]="['USER_DETAIL'|absolutePath,user?._id]" class="profile-img">
            <img [src]="user?.image|| 'assets/default-image/user_placeholder.jpeg'" alt="profile-pic">
          </figure>
        </td>
      </ng-container>

      <!-- Profile Detail -->
      <ng-container matColumnDef="profileDetail">
        <th mat-header-cell *matHeaderCellDef>Profile Details</th>
        <td mat-cell *matCellDef="let user;">
          <ul class="td-details cursor" [routerLink]="['USER_DETAIL'|absolutePath,user?._id]">
            <li class="ml-username">
              <span matTooltip="Username">{{user?.userName | checkNull}}</span>
            </li>
            <li class="icon user ">
              <span matTooltip="Name">{{user | fullName | titlecase | checkNull }}</span>
              <span class="icon"
                [ngClass]="{'gender-m':user?.gender=='male','gender-f':user?.gender=='female','gender-o':user?.gender=='others'}"
                matTooltip="{{ user?.gender | titlecase}}"></span>
            </li>
            <li class="icon email ">
              <span matTooltip="Email">{{user?.email | checkNull}}</span>
              <span class="icon" [ngClass]="user?.email ? user?.isEmailVerified ? 'verified':'notverified':''"
                [matTooltip]="user?.email ? user?.isEmailVerified ? 'Verified':'Not-verified':''"></span>
              <!-- [ngClass]="user?.isVerified && user?.email ? 'verified' : user?.email ? 'notverified':''" -->
              <!-- [matTooltip]="user?.isVerified && user?.email ? 'Verified' : user?.email ? 'Not-verified':''"></span> -->
            </li>
            <li class="icon phone">
              <span
                matTooltip="Phone Number">{{user?.countryCode ?user?.countryCode +'-'+ user?.mobileNumber:'' | checkNull}}</span>
              <span class="icon" [ngClass]="user?.mobileNumber ? user?.isMobileVerified ? 'verified':'notverified':''"
                [matTooltip]="user?.mobileNumber ? user?.isMobileVerified ? 'Verified':'Not-verified':''">
              </span>
            </li>
            <li class="icon dob">
              <span matTooltip="Birth Date">{{user?.dob  | date  | checkNull }}</span></li>
          </ul>
        </td>
      </ng-container>

      <!-- Buddy details(pet)  -->
      <ng-container matColumnDef="buddyDetail">
        <th mat-header-cell *matHeaderCellDef>Buddy Details</th>
        <td mat-cell *matCellDef="let user;">
          <ul class="td-details">
            <li class="icon buddy"><span matTooltip="Buddy name">{{ user?.buddy?.name | titlecase | checkNull}}</span>
            </li>
            <li class="icon happiness"><span matTooltip="Happines Score">{{ user?.buddy?.happiness || 0}}</span></li>
            <li class="icon count"><span matTooltip="Snack Count">{{ user?.buddy?.snack || 0}}</span></li>
          </ul>
        </td>
      </ng-container>

      <!-- Reported -->
      <ng-container matColumnDef="reported">
        <th mat-header-cell *matHeaderCellDef>Reported</th>
        <td mat-cell *matCellDef="let user;">
          <span>
            {{user?.reported ? 'Yes':'No'}}
          </span>
        </td>
      </ng-container>

      <!-- Created At date -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let user;">

          {{user?.createdAt  | date  | checkNull}}

        </td>
      </ng-container>

      <!-- Updated At date -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>Updated Date</th>
        <td mat-cell *matCellDef="let user;">
          <span>
            {{user?.updatedAt | date | checkNull}}
          </span>
        </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="center">Status</th>
        <td mat-cell *matCellDef="let user;" class="center" [ngClass]="{'my-class': user.status!=='active'}">
          {{ user.status == 'active' ? 'Active' : 'Blocked' }}
        </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let user;let i = index;">
          <div class="action_btn">
            <!-- Block/Unblock -->
            <button mat-button matTooltip=" {{ user.status =='active' ? 'Block' : 'Unblock' }}"
              (click)="changeStatus(user.status == 'active'?'block':'active',user._id , i)">
              <mat-icon [ngClass]="{'block': user.status!=='active', 'unblock': user.status =='active' }">
                {{ user.status == 'active' ? 'lock_open' : 'lock' }}</mat-icon>
            </button>

            <!-- Delete -->
            <button mat-button matTooltip="Delete" (click)="changeStatus('delete',user._id, i)">
              <i class="material-icons delete">delete</i>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;">
      </tr>
    </table>
    
    <!-- Loader -->
    <vsn-data-loader *ngIf="showData"></vsn-data-loader>

    <!-- No data -->
    <div *ngIf="userList.data.length==0 && !showData">
      <div class="_tableNoData">{{noRecords}}</div>
    </div>
  </div>

  <!-- Paginatior -->
  <mat-paginator *ngIf="userList.data.length" [length]="total" [pageIndex]="page-1" [pageSize]="pageSize"
    [pageSizeOptions]="pageOptions" [showFirstLastButtons]="true" (page)="changePage($event)">
  </mat-paginator>
</div>